// Width height
$container: 1200px;
$logo-width: 50px;
$logo-height: 100%;

// Font
$title-font: Arial, Helvetica, sans-serif;
$subtitle-font: Arial, Helvetica, sans-serif;
$text-font: Arial, Helvetica, sans-serif;

// size
$h1: 4rem;
$h2: 3.5rem;
$h3: 3rem;
$h4: 2.5rem;
$h5: 2rem;
$h6: 1.5rem;
$p: 1rem;

// Color
$primary-color: steelblue;
$secondary-color: skyblue;
$light-color: #f4f4f4;
$dark-color: #333;
$background-color: #fff;
$link-color: $secondary-color;

// text color
$title-color: $secondary-color;
$subtitle-color: $primary-color;
$text-color: #111;

// Header
$header-top-background-color: #111;
$header-bottom-background-color: #111;

// Mobile
$menu-background-color: #111;

// Footer
$footer-top-background-color: #111;
$footer-bottom-background-color: #111;
